@model LibraryProject.DTO.OrderDTO

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<link rel="stylesheet" href="~/css/invoice.css" />
<div class="invoice-box" id="invoice">
    <table cellpadding="0" cellspacing="0">
        <tr class="top">
            <td colspan="4">
                <table>
                    <tr>
                        <td>
                            Invoice #: @Model.Id<br />
                            Created: @Model.CreatedOn.ToString("dd/MM/yyyy HH:mm:ss")
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr class="information">
            <td colspan="4">
                <table>
                    <tr>
                        <td>
                            @Model.UserDTO.Name @Model.UserDTO.LastName<br />
                            @Model.UserDTO.Email<br />
                            @Model.Address<br />
                            @Model.MobilePhone
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        @foreach (var item in Model.Items)
        {
            <tr class="item">
                <td>@(item.Book != null && item.Book.Title != null ? item.Book.Title : "Unknown")</td>
            </tr>
        }
    </table>
    <button id="ignorePDF" onclick="savePdf()">Ruaj si pdf</button>
</div>

<script src="https://rawgit.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>

<script>
    document.getElementById('ignorePDF').addEventListener('click', () => {
        const element = document.getElementById('invoice');
        html2pdf(element);
    });
</script>