@model IEnumerable<LibraryProject.DataAccess.Models.Order>

@{
    ViewData["Title"] = "My Orders";
}

<h1>My Orders</h1>

<table class="table">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Order Date</th>
            <th>DeadLine</th>
            <th>Address</th>
            <th>Phone Nr</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.Id</td>
                <td>@order.CreatedOn.ToString("dd/MM/yyyy ")</td>
                <td>@order.Deadline.ToString("dd/MM/yyyy ")</td>
                <td>@order.Address</td>
                <td>@order.MobilePhone</td>
                <td>
                    <a asp-action="Details" asp-route-id="@order.Id">View Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
