@{
    var isAdmin = User.IsInRole("Admin")||User.IsInRole("Recepsionist");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LibraryProject</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="~/LibraryProject.styles.css" asp-append-version="true" />
    @if (isAdmin)
    {
        <link rel="stylesheet" href="path_to_admin_styles.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/sidebar.css" />
    }
</head>
<body>
    @if (isAdmin)
    {
        <nav class="sidebar bg-dark">
            <div class="sidebar-header">
                <h3>ISD Library</h3>
            </div>
            <ul class="list-unstyled components">
                <li class="active">
                    <a href="~/">Home</a>
                </li>
                <li>
                    <a href="@Url.Action("Privacy", "Home")">Privacy</a>
                </li>
                <li>
                    <a class="nav-link text-Light" asp-area="" asp-controller="Categories" asp-action="Index">Categories</a>
                </li>
                <li>
                    <a class="nav-link text-Light" asp-area="" asp-controller="Books" asp-action="Index">Books</a>
                </li>
                <li>
                <partial name="_LoginPartial" />
                </li>
            </ul>
        </nav>
    }

    else
    {
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="~/">ISD Library</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="~/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Privacy", "Home")">Privacy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-Dark" asp-area="" asp-controller="Categories" asp-action="Index">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-Dark" asp-area="" asp-controller="Books" asp-action="Index">Books</a>
                </li>
            </ul>
            <partial name="_LoginPartial" />
        </div>
    </nav>
    }

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-MX3b8pXJc+5d2AnqZvR3lofJ2bcWlSe0N2aWkW+UpBu2A0FTb5ayOoFqjZKa35vX" crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
